.lista-items{
    border-bottom: 1px solid #fdfbfb; /* Establece el borde inferior */
    cursor:pointer;
}
.nl:hover{
    box-shadow: 5px 10px 20px 1px rgb(230, 230, 254);
    transition: all 0.8s linear;
}

.bg-lista{
    background-color: white;
}   