.small-text{
    font-size:9px; /* Ajusta el tamaño de fuente según tus preferencias */
  }

.footer-container{
    background: #f4f4f4;
    position: relative;
    border: 1px solid wheat !important;
    border-radius: 10px;
    bottom: 2rem;
    width: 20rem !important;
}

