.line {
    border-bottom: 0.5px solid #c1b9b9; /* Establece un borde inferior de 1 píxel sólido en negro */
    height: 1em; /* Ajusta la altura de la línea para que coincida con la altura del texto */
    margin: 10px; /* Elimina cualquier margen */
  }